@import "tailwindcss";

:root {
  --color-primary: #16697A;
  --color-secondary: #489FB5;
  --color-accent: #82C0CC;
  --color-background: #EDE7E3;
  --color-highlight: #FFA62B;
}


.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }
.bg-highlight { background-color: var(--color-highlight); }
.bg-background { background-color: var(--color-background);}

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-accent { color: var(--color-accent); }
.text-highlight { color: var(--color-highlight); }
.text-background { color: var(--color-background);}


.hover\:text-highlight:hover { color: var(--color-highlight); }
.hover\:text-primary:hover { color: var(--color-primary); }
.hover\:bg-highlight:hover { background-color: var(--color-highlight); }
.hover\:bg-primary:hover { background-color: var(--color-primary); }